
button > * {
    pointer-events: none;
}

#app > * {
    user-select: none;
}

html, body, #app {
    overflow: hidden;
}

/* * */

#splashart {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 60vw;
    transform: translateY(1px);
    transition: all .2s ease-in;
}
#app[contentstate='out'] #splashart {
    bottom: -.5vh;
    opacity: 0;
}

#bottom_wave {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
}

#text {
    position: absolute;
    top: 25vh;
    right: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    z-index: 102;
    transition: all .2s ease-in;
}
#app[contentstate='out'] #text {
    right: 19.5vw;
    opacity: 0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 15vh;
    text-align: right;
    line-height: 12vh;
}
.smallh1 h1 { font-size: 12vh; line-height: 10vh; }

h2 {
    text-transform: lowercase;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 6vh;
    text-align: right;
    line-height: 5.5vh;
}

#text > a {
    margin: 4vh 0 0 0;
    width: 16vh;
    padding: 1vh 0;
}

#backtext_splatter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#pagesel {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 101;
    padding: 2vw;
    display: flex;
}

#pageselel {
    display: block;
    background: #00000033;
    width: 2.5vh;
    height: 1.3vh;
    margin-left: 1vh;
    border-radius: 999px;
    cursor: pointer;
    transition: .4s all cubic-bezier(0.77, 0, 0.175, 1);
}

#pageselel[active] {
    width: 4.5vh;
    background: var(--text);
}